In [1]:
s={1,2,3,33,242,323}

In [2]:
s

{1, 2, 3, 33, 242, 323}

In [3]:
print(type(s))

<class 'set'>

In [4]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [11]:
student={
         1:{'name':'sanskar','branch':'a','roll no':26,'parent name':'manoj','address':'--------'},
         2:{'name':'goku','branch':'a','roll no':13,'parent name':'fury','address':'------'}, 
         3:{'name':'hira thakur','branch':'b','roll no':45,'parent name':'bhanu prathab singh','address':'----'}, 
         4:{'name':'paa','branch':'b','rool no':38,'parent name':'abhishek','address':'--------'},
         

}

In [12]:
student

{1: {'name': 'sanskar',
  'branch': 'a',
  'roll no': 26,
  'parent name': 'manoj',
  'address': '--------'},
 2: {'name': 'goku',
  'branch': 'a',
  'roll no': 13,
  'parent name': 'fury',
  'address': '------'},
 3: {'name': 'hira thakur',
  'branch': 'b',
  'roll no': 45,
  'parent name': 'bhanu prathab singh',
  'address': '----'},
 4: {'name': 'paa',
  'branch': 'b',
  'rool no': 38,
  'parent name': 'abhishek',
  'address': '--------'}}

In [17]:
student[1]

{'name': 'sanskar',
 'branch': 'a',
 'roll no': 26,
 'parent name': 'manoj',
 'address': '--------'}

In [19]:
student[3]['name']

'hira thakur'

In [32]:
s1={1,2,3,4,5,6,7}
s2={5,6,7,8,9,10,11}
s3={1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}

In [33]:
print(type(s))

<class 'set'>

In [34]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [35]:
s1.intersection(s2)

{5, 6, 7}

In [36]:
s1.difference(s2)

{1, 2, 3, 4}

In [37]:
s1-s2

{1, 2, 3, 4}

In [38]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [39]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 8, 9, 10, 11}

In [40]:
s1.issubset(s2)

False

In [41]:
s3.issuperset(s2)

True

In [43]:
s2.issuperset(s1)

False

In [44]:
s1.update('pythhonn')

In [45]:
s1

{1, 2, 3, 4, 5, 6, 7, 'h', 'n', 'o', 'p', 't', 'y'}

In [49]:
s= frozenset([1,2,1,2,3,12,3,4,3,4,5,65,2,2132])

In [50]:
s

frozenset({1, 2, 3, 4, 5, 12, 65, 2132})